.el-cascader-panel .layui-icon,.el-cascader .layui-icon{
    font-size: 12px;
}

/*弹出面板*/
.el-popper .popper__arrow,.el-popper .popper__arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.el-popper .popper__arrow {
    border-width: 6px;
    filter: drop-shadow(0 2px 12px rgba(0,0,0,.03))
}

.el-popper .popper__arrow:after {
    content: " ";
    border-width: 6px
}

.el-popper[x-placement^=top] {
    margin-bottom: 12px
}

.el-popper[x-placement^=top] .popper__arrow {
    bottom: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-color: #ebeef5;
    border-bottom-width: 0
}

.el-popper[x-placement^=top] .popper__arrow:after {
    bottom: 1px;
    margin-left: -6px;
    border-top-color: #fff;
    border-bottom-width: 0
}

.el-popper[x-placement^=bottom] {
    margin-top: 12px
}

.el-popper[x-placement^=bottom] .popper__arrow {
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #ebeef5
}

.el-popper[x-placement^=bottom] .popper__arrow:after {
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #fff
}

.el-popper[x-placement^=right] {
    margin-left: 12px
}

.el-popper[x-placement^=right] .popper__arrow {
    top: 50%;
    left: -6px;
    margin-bottom: 3px;
    border-right-color: #ebeef5;
    border-left-width: 0
}

.el-popper[x-placement^=right] .popper__arrow:after {
    bottom: -6px;
    left: 1px;
    border-right-color: #fff;
    border-left-width: 0
}

.el-popper[x-placement^=left] {
    margin-right: 12px
}

.el-popper[x-placement^=left] .popper__arrow {
    top: 50%;
    right: -6px;
    margin-bottom: 3px;
    border-right-width: 0;
    border-left-color: #ebeef5
}

.el-popper[x-placement^=left] .popper__arrow:after {
    right: 1px;
    bottom: -6px;
    margin-left: -6px;
    border-right-width: 0;
    border-left-color: #fff
}

.el-tag {
    background-color: #ecf5ff;
    display: inline-block;
    height: 32px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    color: #409eff;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap
}

.el-tag.is-hit {
    border-color: #409eff
}

.el-tag .el-tag__close {
    color: #409eff
}

.el-tag .el-tag__close:hover {
    color: #fff;
    background-color: #409eff
}

.el-tag.el-tag--info {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399
}

.el-tag.el-tag--info.is-hit {
    border-color: #909399
}

.el-tag.el-tag--info .el-tag__close {
    color: #909399
}

.el-tag.el-tag--info .el-tag__close:hover {
    color: #fff;
    background-color: #909399
}

.el-tag.el-tag--success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a
}

.el-tag.el-tag--success.is-hit {
    border-color: #67c23a
}

.el-tag.el-tag--success .el-tag__close {
    color: #67c23a
}

.el-tag.el-tag--success .el-tag__close:hover {
    color: #fff;
    background-color: #67c23a
}

.el-tag.el-tag--warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c
}

.el-tag.el-tag--warning.is-hit {
    border-color: #e6a23c
}

.el-tag.el-tag--warning .el-tag__close {
    color: #e6a23c
}

.el-tag.el-tag--warning .el-tag__close:hover {
    color: #fff;
    background-color: #e6a23c
}

.el-tag.el-tag--danger {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c
}

.el-tag.el-tag--danger.is-hit {
    border-color: #f56c6c
}

.el-tag.el-tag--danger .el-tag__close {
    color: #f56c6c
}

.el-tag.el-tag--danger .el-tag__close:hover {
    color: #fff;
    background-color: #f56c6c
}

.el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px
}

.el-tag .el-icon-close:before {
    display: block
}

.el-tag--dark {
    background-color: #409eff;
    color: #fff
}

.el-tag--dark,.el-tag--dark.is-hit {
    border-color: #409eff
}

.el-tag--dark .el-tag__close {
    color: #fff
}

.el-tag--dark .el-tag__close:hover {
    color: #fff;
    background-color: #66b1ff
}

.el-tag--dark.el-tag--info {
    background-color: #909399;
    border-color: #909399;
    color: #fff
}

.el-tag--dark.el-tag--info.is-hit {
    border-color: #909399
}

.el-tag--dark.el-tag--info .el-tag__close {
    color: #fff
}

.el-tag--dark.el-tag--info .el-tag__close:hover {
    color: #fff;
    background-color: #a6a9ad
}

.el-tag--dark.el-tag--success {
    background-color: #67c23a;
    border-color: #67c23a;
    color: #fff
}

.el-tag--dark.el-tag--success.is-hit {
    border-color: #67c23a
}

.el-tag--dark.el-tag--success .el-tag__close {
    color: #fff
}

.el-tag--dark.el-tag--success .el-tag__close:hover {
    color: #fff;
    background-color: #85ce61
}

.el-tag--dark.el-tag--warning {
    background-color: #e6a23c;
    border-color: #e6a23c;
    color: #fff
}

.el-tag--dark.el-tag--warning.is-hit {
    border-color: #e6a23c
}

.el-tag--dark.el-tag--warning .el-tag__close {
    color: #fff
}

.el-tag--dark.el-tag--warning .el-tag__close:hover {
    color: #fff;
    background-color: #ebb563
}

.el-tag--dark.el-tag--danger {
    background-color: #f56c6c;
    border-color: #f56c6c;
    color: #fff
}

.el-tag--dark.el-tag--danger.is-hit {
    border-color: #f56c6c
}

.el-tag--dark.el-tag--danger .el-tag__close {
    color: #fff
}

.el-tag--dark.el-tag--danger .el-tag__close:hover {
    color: #fff;
    background-color: #f78989
}

.el-tag--plain {
    background-color: #fff;
    border-color: #b3d8ff;
    color: #409eff
}

.el-tag--plain.is-hit {
    border-color: #409eff
}

.el-tag--plain .el-tag__close {
    color: #409eff
}

.el-tag--plain .el-tag__close:hover {
    color: #fff;
    background-color: #409eff
}

.el-tag--plain.el-tag--info {
    background-color: #fff;
    border-color: #d3d4d6;
    color: #909399
}

.el-tag--plain.el-tag--info.is-hit {
    border-color: #909399
}

.el-tag--plain.el-tag--info .el-tag__close {
    color: #909399
}

.el-tag--plain.el-tag--info .el-tag__close:hover {
    color: #fff;
    background-color: #909399
}

.el-tag--plain.el-tag--success {
    background-color: #fff;
    border-color: #c2e7b0;
    color: #67c23a
}

.el-tag--plain.el-tag--success.is-hit {
    border-color: #67c23a
}

.el-tag--plain.el-tag--success .el-tag__close {
    color: #67c23a
}

.el-tag--plain.el-tag--success .el-tag__close:hover {
    color: #fff;
    background-color: #67c23a
}

.el-tag--plain.el-tag--warning {
    background-color: #fff;
    border-color: #f5dab1;
    color: #e6a23c
}

.el-tag--plain.el-tag--warning.is-hit {
    border-color: #e6a23c
}

.el-tag--plain.el-tag--warning .el-tag__close {
    color: #e6a23c
}

.el-tag--plain.el-tag--warning .el-tag__close:hover {
    color: #fff;
    background-color: #e6a23c
}

.el-tag--plain.el-tag--danger {
    background-color: #fff;
    border-color: #fbc4c4;
    color: #f56c6c
}

.el-tag--plain.el-tag--danger.is-hit {
    border-color: #f56c6c
}

.el-tag--plain.el-tag--danger .el-tag__close {
    color: #f56c6c
}

.el-tag--plain.el-tag--danger .el-tag__close:hover {
    color: #fff;
    background-color: #f56c6c
}

.el-tag--medium {
    height: 28px;
    line-height: 26px
}

.el-tag--medium .el-icon-close {
    transform: scale(.8)
}

.el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px
}

.el-tag--small .el-icon-close {
    transform: scale(.8)
}

.el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px
}

.el-tag--mini .el-icon-close {
    margin-left: -3px;
    transform: scale(.7)
}

.el-checkbox {
    color: #606266;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    margin-right: 30px
}

.el-checkbox.is-bordered {
    padding: 9px 20px 9px 10px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    line-height: normal;
    height: 40px
}

.el-checkbox.is-bordered.is-checked {
    border-color: #409eff
}

.el-checkbox.is-bordered.is-disabled {
    border-color: #ebeef5;
    cursor: not-allowed
}

.el-checkbox.is-bordered+.el-checkbox.is-bordered {
    margin-left: 10px
}

.el-checkbox.is-bordered.el-checkbox--medium {
    padding: 7px 20px 7px 10px;
    border-radius: 4px;
    height: 36px
}

.el-checkbox.is-bordered.el-checkbox--medium .el-checkbox__label {
    line-height: 17px;
    font-size: 14px
}

.el-checkbox.is-bordered.el-checkbox--medium .el-checkbox__inner {
    height: 14px;
    width: 14px
}

.el-checkbox.is-bordered.el-checkbox--small {
    padding: 5px 15px 5px 10px;
    border-radius: 3px;
    height: 32px
}

.el-checkbox.is-bordered.el-checkbox--small .el-checkbox__label {
    line-height: 15px;
    font-size: 12px
}

.el-checkbox.is-bordered.el-checkbox--small .el-checkbox__inner {
    height: 12px;
    width: 12px
}

.el-checkbox.is-bordered.el-checkbox--small .el-checkbox__inner:after {
    height: 6px;
    width: 2px
}

.el-checkbox.is-bordered.el-checkbox--mini {
    padding: 3px 15px 3px 10px;
    border-radius: 3px;
    height: 28px
}

.el-checkbox.is-bordered.el-checkbox--mini .el-checkbox__label {
    line-height: 12px;
    font-size: 12px
}

.el-checkbox.is-bordered.el-checkbox--mini .el-checkbox__inner {
    height: 12px;
    width: 12px
}

.el-checkbox.is-bordered.el-checkbox--mini .el-checkbox__inner:after {
    height: 6px;
    width: 2px
}

.el-checkbox__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle
}

.el-checkbox__input.is-disabled .el-checkbox__inner {
    background-color: #edf2fc;
    border-color: #dcdfe6;
    cursor: not-allowed
}

.el-checkbox__input.is-disabled .el-checkbox__inner:after {
    cursor: not-allowed;
    border-color: #c0c4cc
}

.el-checkbox__input.is-disabled .el-checkbox__inner+.el-checkbox__label {
    cursor: not-allowed
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background-color: #f2f6fc;
    border-color: #dcdfe6
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner:after {
    border-color: #c0c4cc
}

.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner {
    background-color: #f2f6fc;
    border-color: #dcdfe6
}

.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner:before {
    background-color: #c0c4cc;
    border-color: #c0c4cc
}

.el-checkbox__input.is-disabled+span.el-checkbox__label {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #409eff;
    border-color: #409eff;
}

.el-checkbox__input.is-checked .el-checkbox__inner:after {
    transform: rotate(45deg) scaleY(1);
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #409eff
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #409eff
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #409eff;
    border-color: #409eff
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner:before {
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
    height: 2px;
    transform: scale(.5);
    left: 0;
    right: 0;
    top: 5px
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner:after {
    display: none
}

.el-checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}

.el-checkbox__inner:hover {
    border-color: #409eff
}

.el-checkbox__inner:after {
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: transform .15s ease-in .05s;
    transform-origin: center
}

.el-checkbox__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1
}

.el-checkbox__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 14px
}

.el-checkbox:last-of-type {
    margin-right: 0
}

.el-checkbox-button,.el-checkbox-button__inner {
    position: relative;
    display: inline-block
}

.el-checkbox-button__inner {
    line-height: 1;
    font-weight: 500;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-left: 0;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 0
}

.el-checkbox-button__inner.is-round {
    padding: 12px 20px
}

.el-checkbox-button__inner:hover {
    color: #409eff
}

.el-checkbox-button__inner [class*=el-icon-] {
    line-height: .9
}

.el-checkbox-button__inner [class*=el-icon-]+span {
    margin-left: 5px
}

.el-checkbox-button__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    box-shadow: -1px 0 0 0 #8cc5ff
}

.el-checkbox-button.is-checked:first-child .el-checkbox-button__inner {
    border-left-color: #409eff
}

.el-checkbox-button.is-disabled .el-checkbox-button__inner {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    border-color: #ebeef5;
    box-shadow: none
}

.el-checkbox-button.is-disabled:first-child .el-checkbox-button__inner {
    border-left-color: #ebeef5
}

.el-checkbox-button:first-child .el-checkbox-button__inner {
    border-left: 1px solid #dcdfe6;
    border-radius: 4px 0 0 4px;
    box-shadow: none!important
}

.el-checkbox-button.is-focus .el-checkbox-button__inner {
    border-color: #409eff
}

.el-checkbox-button:last-child .el-checkbox-button__inner {
    border-radius: 0 4px 4px 0
}

.el-checkbox-button--medium .el-checkbox-button__inner {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 0
}

.el-checkbox-button--medium .el-checkbox-button__inner.is-round {
    padding: 10px 20px
}

.el-checkbox-button--small .el-checkbox-button__inner {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 0
}

.el-checkbox-button--small .el-checkbox-button__inner.is-round {
    padding: 9px 15px
}

.el-checkbox-button--mini .el-checkbox-button__inner {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 0
}

.el-checkbox-button--mini .el-checkbox-button__inner.is-round {
    padding: 7px 15px
}

.el-checkbox-group {
    font-size: 0
}

.el-radio {
    color: #606266;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    margin-right: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.el-radio.is-bordered {
    padding: 12px 20px 0 10px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    height: 40px
}

.el-radio.is-bordered.is-checked {
    border-color: #409eff
}

.el-radio.is-bordered.is-disabled {
    cursor: not-allowed;
    border-color: #ebeef5
}

.el-radio.is-bordered+.el-radio.is-bordered {
    margin-left: 10px
}

.el-radio--medium.is-bordered {
    padding: 10px 20px 0 10px;
    border-radius: 4px;
    height: 36px
}

.el-radio--medium.is-bordered .el-radio__label {
    font-size: 14px
}

.el-radio--medium.is-bordered .el-radio__inner {
    height: 14px;
    width: 14px
}

.el-radio--small.is-bordered {
    padding: 8px 15px 0 10px;
    border-radius: 3px;
    height: 32px
}

.el-radio--small.is-bordered .el-radio__label {
    font-size: 12px
}

.el-radio--small.is-bordered .el-radio__inner {
    height: 12px;
    width: 12px
}

.el-radio--mini.is-bordered {
    padding: 6px 15px 0 10px;
    border-radius: 3px;
    height: 28px
}

.el-radio--mini.is-bordered .el-radio__label {
    font-size: 12px
}

.el-radio--mini.is-bordered .el-radio__inner {
    height: 12px;
    width: 12px
}

.el-radio:last-child {
    margin-right: 0
}

.el-radio__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle
}

.el-radio__input.is-disabled .el-radio__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    cursor: not-allowed
}

.el-radio__input.is-disabled .el-radio__inner:after {
    cursor: not-allowed;
    background-color: #f5f7fa
}

.el-radio__input.is-disabled .el-radio__inner+.el-radio__label {
    cursor: not-allowed
}

.el-radio__input.is-disabled.is-checked .el-radio__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed
}

.el-radio__input.is-disabled.is-checked .el-radio__inner:after {
    background-color: #c0c4cc
}

.el-radio__input.is-disabled+span.el-radio__label {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #409eff;
    background: #409eff
}

.el-radio__input.is-checked .el-radio__inner:after {
    transform: translate(-50%,-50%) scale(1)
}

.el-radio__input.is-checked+.el-radio__label {
    color: #409eff
}

.el-radio__input.is-focus .el-radio__inner {
    border-color: #409eff
}

.el-radio__inner {
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box
}

.el-radio__inner:hover {
    border-color: #409eff
}

.el-radio__inner:after {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .15s ease-in
}

.el-radio__original {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}

.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
    /*box-shadow: 0 0 2px 2px #409eff*/
}

/*滚动条*/
.el-scrollbar {
    overflow: hidden;
    position: relative
}

.el-scrollbar:active>.el-scrollbar__bar,.el-scrollbar:focus>.el-scrollbar__bar,.el-scrollbar:hover>.el-scrollbar__bar {
    opacity: 1;
    transition: opacity .34s ease-out
}

.el-scrollbar__wrap {
    overflow: scroll;
    height: 100%
}

.el-scrollbar__wrap--hidden-default {
    scrollbar-width: none
}

.el-scrollbar__wrap--hidden-default::-webkit-scrollbar {
    width: 0;
    height: 0
}

.el-scrollbar__thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144,147,153,.3);
    transition: background-color .3s
}

.el-scrollbar__thumb:hover {
    background-color: rgba(144,147,153,.5)
}

.el-scrollbar__bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity .12s ease-out
}

.el-scrollbar__bar.is-vertical {
    width: 6px;
    top: 2px
}

.el-scrollbar__bar.is-vertical>div {
    width: 100%
}

.el-scrollbar__bar.is-horizontal {
    height: 6px;
    left: 2px
}

.el-scrollbar__bar.is-horizontal>div {
    height: 100%
}

.el-cascader {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 40px
}

.el-cascader:not(.is-disabled):hover .el-input__inner {
    cursor: pointer;
    border-color: #c0c4cc
}

.el-cascader .el-input {
    cursor: pointer
}

.el-cascader .el-input .el-input__inner {
    text-overflow: ellipsis
}

.el-cascader .el-input .el-input__inner:focus {
    border-color: #409eff
}

.el-cascader .el-input .el-icon-arrow-down {
    display: inline-block;
    transition: transform .3s;
    font-size: 14px
}

.el-cascader .el-input .el-icon-arrow-down.is-reverse {
    transform: rotate(180deg)
}

.el-cascader .el-input .el-icon-circle-close:hover {
    color: #909399
}

.el-cascader .el-input.is-focus .el-input__inner {
    border-color: #409eff
}

.el-cascader--medium {
    font-size: 14px;
    line-height: 36px
}

.el-cascader--small {
    font-size: 13px;
    line-height: 32px
}

.el-cascader--mini {
    font-size: 12px;
    line-height: 28px
}

.el-cascader.is-disabled .el-cascader__label {
    z-index: 2;
    color: #c0c4cc
}

.el-cascader__dropdown {
    margin: 5px 0;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

.el-cascader__tags {
    position: absolute;
    left: 0;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    text-align: left;
    box-sizing: border-box
}

.el-cascader__tags .el-tag {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    margin: 2px 0 2px 6px;
    text-overflow: ellipsis;
    background: #f0f2f5
}

.el-cascader__tags .el-tag:not(.is-hit) {
    border-color: transparent
}

.el-cascader__tags .el-tag > span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis
}

.el-cascader__tags .el-tag .el-icon-close {
    flex: none;
    background-color: #c0c4cc;
    color: #fff
}

.el-cascader__tags .el-tag .el-icon-close:hover {
    background-color: #909399
}

.el-cascader__suggestion-panel {
    border-radius: 4px
}

.el-cascader__suggestion-list {
    max-height: 204px;
    margin: 0;
    padding: 6px 0;
    font-size: 14px;
    color: #606266;
    text-align: center
}

.el-cascader__suggestion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    padding: 0 15px;
    text-align: left;
    outline: none;
    cursor: pointer
}

.el-cascader__suggestion-item:focus, .el-cascader__suggestion-item:hover {
    background: #f5f7fa
}

.el-cascader__suggestion-item.is-checked {
    color: #409eff;
    font-weight: 700
}

.el-cascader__suggestion-item > span {
    margin-right: 10px
}

.el-cascader__empty-text {
    margin: 10px 0;
    color: #c0c4cc
}

.el-cascader__search-input {
    flex: 1;
    height: 24px;
    min-width: 60px;
    margin: 2px 0 2px 15px;
    padding: 0;
    color: #606266;
    border: none;
    outline: none;
    box-sizing: border-box
}

.el-cascader__search-input::placeholder {
    color: #c0c4cc
}

/*cascader面板*/
.el-cascader-panel {
    display: flex;
    border-radius: 4px;
    font-size: 14px
}

.el-cascader-panel.is-bordered {
    border: 1px solid #e4e7ed;
    border-radius: 4px
}

.el-cascader-menu {
    min-width: 180px;
    box-sizing: border-box;
    color: #606266;
    border-right: 1px solid #e4e7ed
}

.el-cascader-menu:last-child {
    border-right: none
}

.el-cascader-menu:last-child .el-cascader-node {
    padding-right: 26px
}

.el-cascader-menu__wrap {
    height: 204px
}

.el-cascader-menu__list {
    position: relative;
    min-height: 100%;
    padding: 6px 0;
    list-style: none;
    box-sizing: border-box;
}

.el-cascader-menu__hover-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.el-cascader-menu__empty-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #c0c4cc
}

.el-cascader-node {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 25px 0 15px;
    height: 34px;
    line-height: 34px;
    outline: none
}

.el-cascader-node.is-selectable.in-active-path {
    color: #606266
}

.el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path {
    color: #409eff;
    font-weight: 700
}

.el-cascader-node:not(.is-disabled) {
    cursor: pointer
}

.el-cascader-node:not(.is-disabled):focus, .el-cascader-node:not(.is-disabled):hover {
    background: #f5f7fa
}

.el-cascader-node.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-cascader-node__prefix {
    position: absolute;
    left: 10px
}

.el-cascader-node__postfix {
    position: absolute;
    right: 10px
}

.el-cascader-node__label {
    flex: 1;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.el-cascader-node > .el-radio {
    margin-right: 0
}

.el-cascader-node > .el-radio .el-radio__label {
    padding-left: 0
}
/*输入框*/
.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%
}

.el-input::-webkit-scrollbar {
    z-index: 11;
    width: 6px
}

.el-input::-webkit-scrollbar:horizontal {
    height: 6px
}

.el-input::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: #b4bccc
}

.el-input::-webkit-scrollbar-corner,.el-input::-webkit-scrollbar-track {
    background: #fff
}

.el-input::-webkit-scrollbar-track-piece {
    background: #fff;
    width: 6px
}

.el-input .el-input__clear {
    color: #c0c4cc;
    font-size: 14px;
    cursor: pointer;
    transition: color .2s cubic-bezier(.645,.045,.355,1)
}

.el-input .el-input__clear:hover {
    color: #909399
}

.el-input .el-input__count {
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #909399;
    font-size: 12px
}

.el-input .el-input__count .el-input__count-inner {
    background: #fff;
    line-height: normal;
    display: inline-block;
    padding: 0 5px
}

.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%
}

.el-input__inner::-ms-reveal {
    display: none
}

.el-input__inner::placeholder {
    color: #c0c4cc
}

.el-input__inner:hover {
    border-color: #c0c4cc
}

.el-input__inner:focus {
    outline: none;
    border-color: #409eff
}

.el-input__suffix {
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: #c0c4cc;
    transition: all .3s;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.el-input__suffix-inner {
    pointer-events: all
}

.el-input__prefix {
    position: absolute;
    left: 5px;
    top: 0;
    color: #c0c4cc
}

.el-input__icon,.el-input__prefix {
    height: 100%;
    text-align: center;
    transition: all .3s
}

.el-input__icon {
    width: 25px;
    line-height: 40px
}

.el-input__icon:after {
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle
}

.el-input__validateIcon {
    pointer-events: none
}

.el-input.is-active .el-input__inner {
    outline: none;
    border-color: #409eff
}

.el-input.is-disabled .el-input__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed
}

.el-input.is-disabled .el-input__inner::placeholder {
    color: #c0c4cc
}

.el-input.is-disabled .el-input__icon {
    cursor: not-allowed
}

.el-input.is-exceed .el-input__inner {
    border-color: #f56c6c
}

.el-input.is-exceed .el-input__suffix .el-input__count {
    color: #f56c6c
}

.el-input--suffix .el-input__inner {
    padding-right: 30px
}

.el-input--prefix .el-input__inner {
    padding-left: 30px
}

.el-input--medium {
    font-size: 14px
}

.el-input--medium .el-input__inner {
    height: 36px;
    line-height: 36px
}

.el-input--medium .el-input__icon {
    line-height: 36px
}

.el-input--small {
    font-size: 13px
}

.el-input--small .el-input__inner {
    height: 32px;
    line-height: 32px
}

.el-input--small .el-input__icon {
    line-height: 32px
}

.el-input--mini {
    font-size: 12px
}

.el-input--mini .el-input__inner {
    height: 28px;
    line-height: 28px
}

.el-input--mini .el-input__icon {
    line-height: 28px
}

.el-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0
}

.el-input-group>.el-input__inner {
    vertical-align: middle;
    display: table-cell
}

.el-input-group__append,.el-input-group__prepend {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap
}

.el-input-group__append:focus,.el-input-group__prepend:focus {
    outline: none
}

.el-input-group__append .el-button,.el-input-group__append .el-select,.el-input-group__prepend .el-button,.el-input-group__prepend .el-select {
    display: inline-block;
    margin: -10px -20px
}

.el-input-group__append button.el-button,.el-input-group__append div.el-select .el-input__inner,.el-input-group__append div.el-select:hover .el-input__inner,.el-input-group__prepend button.el-button,.el-input-group__prepend div.el-select .el-input__inner,.el-input-group__prepend div.el-select:hover .el-input__inner {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0
}

.el-input-group__append .el-button,.el-input-group__append .el-input,.el-input-group__prepend .el-button,.el-input-group__prepend .el-input {
    font-size: inherit
}

.el-input-group__prepend {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.el-input-group__append {
    border-left: 0
}

.el-input-group--prepend .el-input__inner,.el-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.el-input-group--prepend .el-select .el-input.is-focus .el-input__inner {
    border-color: transparent
}

.el-input-group--append .el-input__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.el-input-group--append .el-select .el-input.is-focus .el-input__inner {
    border-color: transparent
}

.el-input__inner::-ms-clear {
    display: none;
    width: 0;
    height: 0
}

::-webkit-scrollbar {
    width: 0;
}
